<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="72f4dee6-d084-4c4e-8177-10eb3d01713f" name="TestSuite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="72f4dee6-d084-4c4e-8177-10eb3d01713ffileName">TestSuite-2</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
